.vscode/**
.vscode-test/**
.vscode-test.*
.github/**
src/**
out/test/**
node_modules/**
.gitignore
.yarnrc
.eslintrc*
eslint.config.*
tsconfig.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.tsbuildinfo
**/.DS_Store
vsc-extension-quickstart.md
*.vsix
package-lock.json
